@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Sriracha&display=swap");

html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    font-size: 1rem;
    background-color: #3a506b;
}

header {
    position: absolute;
    width: 100%;
    z-index: 9999;
    padding: 1rem;
    display: flex;
    background-color: #3a506b;
    color: rgb(226, 226, 226);
    font-size: 1rem;
    text-align: center;
}

#window-controls {
    width: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#window-controls div {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    margin: 0.125rem;
    background-color: rgb(226, 226, 226);
}

#window-controls :nth-child(1) {
    background-color: #ff605c;
}

#window-controls :nth-child(2) {
    background-color: #ffbd44;
}

#window-controls :nth-child(3) {
    background-color: #00ca56;
}

#window-controls div:hover {
    filter: brightness(85%);
    cursor: pointer;
}

#app-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
